<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>User Tasks</h1>
  <div id="task-form"></div>

  <div id="tasks">
    <%= render @user_tasks %>
  </div>

  <br>

  <%= link_to 'New User Task', new_user_task_path, class: "btn btn-success btn-sm", remote: true %>
</div>